.recovery-mail {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0 60px 0;
    background: #0d0d0d;
    border-radius: 20px;
    &__title {
        font-size: 32px;
        color: #fff;
        margin-bottom: 15px;
        text-align: center;
    }
    &__sub-title {
        font-size: 12px;
        color: #fff;
        margin-bottom: 10px;
        text-align: center;
    }
    &__amount {
        max-width: 300px;
        width: 100%;
        position: relative;
        margin-bottom: 20px;
    }
    &__input {
        background: #1d1d1d;
        border-radius: 15px;
        width: 100%;
        padding: 12px 50px 13px 27px;
        color: #fff;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        &::-webkit-input-placeholder {
            color: #b0a9a9;
        }
    }
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 320px;
        width: 100%;
        color: #0d0d0d;
        font-size: 20px;
        padding: 10px 0;
        background: linear-gradient(91.44deg, #002fd8 17.68%, #ff007a 88.87%);
        box-shadow: 0px 8px 20px rgba(253, 0, 124, 0.25);
        border-radius: 15px;
        svg {
            margin-right: 7px;
        }
    }
    @media screen and (max-width: 400px) {
        padding: 20px 20px 60px 20px;
    }
}
