.balance-card {
    @media screen and(max-width:768px) {
        width: 70%;
        margin: 0 auto;
    }
    @media screen and(max-width:500px) {
        width: 265px;
    }
    &__title {
        @media screen and(max-width:510px) {
            font-size: 18px;
        }
    }

    &__balance {
        font-size: $primary-title-fz;
        color: $contrast-primary-color;
        font-weight: $title-fw;
        margin-bottom: 30px;
        padding-left: 10px;
        @media screen and(max-width:510px) {
            font-size: 20px;
            margin-bottom: 20px;
        }
    }
    &__header {
        margin-bottom: 35px;
        @media screen and(max-width:510px) {
            margin-bottom: 15px;
        }
    }
    &__button {
        &:first-child {
            margin-right: 10px;
        }
    }
    &__valut-course {
        @include flex(flex-end);

        .standart-text {
            @media screen and(max-width:510px) {
                font-size: 10px;
            }
            span {
                margin-right: 5px;
                @media screen and(max-width:510px) {
                    font-size: 10px;
                }
            }
            @include flex;
            width: max-content;
        }
    }
    &__valut-symbol {
        @include flex;
        background: #00c120;
        padding: 5px 10px;
        margin-left: 10px;
        border-radius: 5px;
        color: $primary-color !important;
        &_red {
            background: #ff1a1a;
        }
        @media screen and(max-width:510px) {
            padding: 2px 5px;
        }
    }
}

.title {
}
.flex-center {
}
