.payment-history {
    &__svg {
        // position: absolute;
        width: 13px;
        height: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #37288f;
        border-radius: 30px;
        top: -3px;
        left: 83px;
        cursor: pointer;
    }
    &__info {
        display: block;
        position: absolute;
        bottom: 100%;
        left: 100%;
        width: 215px;
        padding: 8px;
        font-size: 10px;
        color: #afafaf;
        background: #0b1a41;
        border-radius: 10px 10px 10px 0px;
    }

    &__item {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        align-items: center;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__name {
        position: relative;
        flex-basis: 42%;
        color: #fff;
        font-size: 20px;
        @include flex(flex-start);
    }
    &__prise {
        flex-basis: 13%;
        color: #fff;
        text-align: center;
        font-size: 14px;
    }
    &__date {
        flex-basis: 18%;
        color: #fff;
        opacity: 0.4;
        font-size: 15px;
    }

    @media screen and (max-width: 630px) {
        padding: 20px 15px 90px 30px;
        &__date {
            flex-basis: 100px;
        }
        &__prise {
            flex-basis: auto;
        }

        &__name {
            flex-basis: 85px;
        }
        &__button {
            max-width: 60px;
            width: 100%;
            font-size: 7px;
        }
        .completed {
            padding: 6px 13px 7px 10px;
        }
        .canceled {
            padding: 6px 14px 7px 14px;
        }
        .frozen {
            padding: 6px 19px 7px 19px;
        }
        .pending {
            padding: 6px 19px 7px 19px;
        }
    }
    @media screen and (max-width: 430px) {
        &__title {
            font-size: 14px;
            margin-bottom: 5px;
        }
        &__sub-title {
            font-size: 8px;
        }
        &__name,
        &__date {
            font-size: 10px;
        }
        &__prise {
            flex-basis: 20px;
            font-size: 7px;
            text-align: left;
        }
        &__svg {
            position: static;
        }
        &__info {
            width: 90px;
            background: #444fb5;
            border-radius: 10px;
            font-size: 4px;
            padding: 4px;
        }
    }
    @media screen and (max-width: 380px) {
        &__info {
            left: 90px;
        }
    }
    @media screen and (max-width: 330px) {
        &__info {
            left: 77px;
        }
    }
    @media screen and (max-width: 300px) {
        &__info {
            left: 70px;
        }
    }
    @media screen and (max-width: 280px) {
        &__info {
            left: 65px;
        }
    }
}
.completed {
    padding: 10px 25px 10px 25px;
    background: #43ae41;
    border-radius: 10px;
}
.canceled {
    padding: 10px 25px 10px 25px;
    background: #b54444;
    border-radius: 10px;
}
.frozen {
    padding: 10px 35px 10px 35px;
    background: #444fb5;
    border-radius: 10px;
}
.pending {
    padding: 10px 25px 10px 25px;
    background: #d19a00;
    border-radius: 10px;
}
.temporary-frozen {
    color: #8f2828 !important;
}
.support-dot-wrapper {
    position: relative;
}
