.transaction-card {
    &__payment-card {
        transform: translateY(-35%);
        margin-bottom: 10px;
        @media screen and(max-width:768px) {
            display: none;
        }
    }
    .title {
        font-size: 20px;
    }
    &__method {
        color: $contrast-primary-color;
        width: 50%;
        @include flex;
        padding: 15px 50px;
        border-radius: 15px;
        font-size: $text-fz;
        font-weight: $subtitle-fw;
        &_active {
            background: $contrast-primary-color;
            color: $primary-color !important;
        }
    }
    &__method-wrapper {
        background: $primary-color_light;
        border-radius: 15px;
        padding: 5px;
    }
    &__select-wrapper {
        flex: 1 1 100%;
        &:first-child {
            margin-right: 15px;
        }
    }
    .mb-big {
        margin-bottom: 55px;
    }
    .mb-medium {
        margin-bottom: 30px;
    }
    &__commission {
        margin-bottom: 70px;
    }
    @media screen and(max-width:768px) {
        background: transparent !important;
        padding: 0 !important;
        .mb-big {
            margin-bottom: 25px;
        }
        .mb-medium {
            margin-bottom: 15px;
        }
        &__commission {
            margin-bottom: 30px;
        }
    }
}
