.deposit {
    @include flex(center, flex-start, $flex-direction: column);
    max-width: 600px;
    width: 100%;

    background: $primary-color;
    border-radius: 20px;

    padding: 20px 150px 60px;
    @media screen and(max-width:768px) {
        padding: 30px 20px;
    }
    .input-thumbnail {
        width: 100%;
    }

    :deep(input) {
        background: #1d1d1d;
    }
    :deep(.input) {
        width: 100%;
    }
    &__title {
        width: 100%;
        font-size: 32px;
        color: #fff;
        margin-bottom: 15px;
    }
    &__sub-title {
        font-size: 12px;
        color: #fff;
        margin-bottom: 10px;
    }
    &__amount,
    &__wallet {
        width: 100%;
        position: relative;
        margin-bottom: 10px;
    }
    &__label {
        color: #fff;
        // position: absolute;
        left: 14px;
        top: 12px;
        font-size: 10px;
        flex: 1 1 auto;
        max-width: 100%;
        width: 100%;
        height: auto;
        // padding: 8px;
        border-right: 2px solid #565656;
        @include flex;
    }
    &__input {
        // background: #1d1d1d;
        border-radius: 15px;
        width: 100%;
        // padding: 12px 50px 13px 27px;
        padding: 10px;
        color: #fff;
        font-size: 13px;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        &::-webkit-input-placeholder {
            color: #b0a9a9;
        }
    }
    &__coin {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 15px;
        top: 8px;
        cursor: pointer;
        svg {
            margin-bottom: 2px;
        }
        &-name {
            font-size: 10px;
            color: #fff;
            text-transform: uppercase;
        }
    }
    &__currency {
        display: flex;

        p {
            font-size: 12px;
            color: #fff;
            &:first-child {
                margin-right: 5px;
            }
        }
    }
    &__wallet {
        width: 100%;
        @include flex(center, stretch);
        background: #1d1d1d;
        border-radius: 15px;
        padding: 0 10px;

        input {
            padding-left: 85px;
        }
    }
    &__copy {
        cursor: pointer;
        // position: absolute;
        right: 16px;
        top: 12px;
        @include flex;
    }
    &__text {
        font-size: 10px;

        width: 100%;
        color: rgba(255, 255, 255, 0.5);
        margin-bottom: 20px;
    }
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 320px;
        width: 100%;
        color: #0d0d0d;
        font-size: 20px;
        padding: 10px 0;
        background: linear-gradient(91.44deg, #002fd8 17.68%, #ff007a 88.87%);
        box-shadow: 0px 8px 20px rgba(253, 0, 124, 0.25);
        border-radius: 15px;
        svg {
            margin-right: 7px;
        }
        margin: 0 auto;
        &:disabled {
            background: $primary-color_light;
            box-shadow: none;
            cursor: auto;
        }
    }
    @media screen and (max-width: 400px) {
        padding: 20px 20px 60px 20px;
    }
}
