// fonts family
$primary-ff: "DM Sans", sans-serif;
$logo-ff: "Solway", serif;
// fonts sizes
$logo-fz: 20px;
$text-fz: 16px;
$item-title-fz: 18px;
$title-fz: 28px;
$primary-title-fz: 35px;
// font weight
$title-fw: 700;

$subtitle-fw: 500;

$standart-fw: 400;
// colors

$secondary-color: #ddf0a7;
$secondary-color_dark: #c1d575;

$primary-color: #0d0d0d;
$primary-color_light: #363636;

$contrast-primary-color: white;

$shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.144);

$attention-color: #d52b7d;
