@import "@scss/nullstyle";
* {
    font-family: $primary-ff;
    line-height: 130%;
}

.container {
    max-width: 1150px;
    width: 100%;
    padding: 15px 20px;
    margin: 0 auto;
    @media screen and(max-width:425px) {
        padding: 15px;
    }
    &_extended {
        max-width: 1250px;
    }
}
#app {
    @include flex(flex-start, flex-start);
    background: $primary-color_light;
    width: 100vw;

    > .flex-space {
        flex: 1 1 auto;
        padding-right: 40px;
        min-height: 100vh;
        @media screen and(max-width:1210px) {
            padding-right: 0;
        }
        @media screen and(max-width:1350px) {
            flex-direction: column;
        }
    }
}
html,
body {
    height: 100%;
}
.title {
    font-size: $title-fz;
    font-weight: $title-fw;
    color: $primary-color;
}

.item-title {
    font-size: $item-title-fz;
    font-weight: $title-fw;
}
.standart-text {
    font-size: $text-fz;
    font-weight: $standart-fw;
}
// #root {
//   min-height: 100%;
//   height: 100%;
//   @include flex(stretch, stretch, $flex-direction: column);
//   main {
//     flex: 1 1 100%;
//   }
// }
.mb-small {
    margin-bottom: 15px;
}

.mb-medium {
    margin-bottom: 25px;
}

.mb-big {
    margin-bottom: 35px;
}
.text-center {
    text-align: center;
}
.flex-center {
    @include flex;
}
.flex-space {
    @include flex(space-between);
}
.flex-evenly {
    @include flex(space-evenly);
}
.mr-small {
    margin-right: 10px;
}

.mr-medium {
    margin-right: 20px;
}

.mr-big {
    margin-right: 35px;
}

.img {
    position: relative;
    width: 100%;
    height: 100%;
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}

body,
html {
    overflow-x: hidden;
}

._pc {
    @media screen and(max-width:1024px) {
        display: none;
    }
}

._mobile {
    display: none;
    @media screen and(max-width:1024px) {
        display: block;
    }
}
._mobile-flex {
    display: none;
    @media screen and(max-width:1024px) {
        display: flex;
    }
}

.relative {
    position: relative;
}
.error-text {
    color: $attention-color !important;
    font-size: $text-fz;
}

.success-text {
    color: green;
    font-size: $text-fz;
}
.admin-menu {
    a {
        color: $contrast-primary-color;
        &:hover {
            text-decoration: underline;
        }
    }
}
