.right-sidebar {
    max-width: 180px;
    width: 100%;

    @media screen and(max-width: 1350px) {
        display: none;
    }

    &__top {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 10px;
    }
    &__notification,
    &__profile {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        background: #0d0d0d;
        border-radius: 10px;
    }
    &__pay,
    &__mobile,
    &__wpayme {
        display: block;
        background: #0d0d0d;
        border-radius: 20px;
        padding: 10px 20px 15px 20px;
        text-align: center;
        margin-bottom: 60px;
        img {
            max-width: 130px;
            height: 130px;
            margin-bottom: 10px;
        }
    }
    &__wpayme {
        margin-bottom: 0;
    }
    &__title {
        color: #fff;
    }
}
