.user-cards-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(420px, 530px));
    justify-content: center;
    width: 100%;
    grid-template-rows: repeat(3, 220px);
    gap: 50px;
    padding: 0 50px;
    align-content: center;
    min-height: 100vh;
    flex: 1 1 auto;
    @media screen and(max-width:1210px) {
        padding: 30px 20px 10px;
        @include flex(center, stretch, $flex-direction: column);
        width: 50%;
    }
    @media screen and(max-width:800px) {
        width: 100%;
        gap: 0;
    }
    @media screen and(max-width:510px) {
        justify-content: flex-start;
        min-height: auto;
    }
    @media screen and(max-width:425px) {
        padding: 20px 30px;
    }
}
.balance-card {
    grid-area: 1 / 1 / 2 / 2;
    @media screen and(max-width:768px) {
        margin-bottom: 30px;
    }
}
.info-card {
    grid-area: 2 / 1 / 3 / 2;
    @media screen and(max-width:768px) {
        display: none;
    }
}
.security-card {
    grid-area: 3 / 1 / 4 / 2;
    @media screen and(max-width:768px) {
        display: none;
    }
}
.transaction-card {
    grid-area: 1 / 2 / 4 / 3;
}
