.input-thumbnail {
    @include flex(space-between);
    background: $primary-color_light;
    padding: 9px;
    border-radius: 15px;
    color: $contrast-primary-color;
    @media screen and(max-width:425px) {
        padding: 5px;
    }
    input {
        color: $contrast-primary-color;
        background: $primary-color_light;
        width: 100%;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            /* display: none; <- Crashes Chrome on hover */
            -webkit-appearance: none;
            margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
        }

        &[type="number"] {
            -moz-appearance: textfield; /* Firefox */
        }
    }
    &_dark {
        background: #1d1d1d;
        input {
            background: #1d1d1d;
        }
    }
    &__slot {
        margin-right: 5px;
    }
    &__currency {
        cursor: pointer;
        @include flex($flex-direction: column);
        svg {
            width: 10px !important;
            height: 10px !important;
        }
    }
    &__thumbnail {
        @include flex($flex-direction: column);
    }
    &__line {
        background: #363434;
        height: 30px;
        width: 2px;
        margin-right: 10px;
    }
    &__flag {
        width: 15px;
        height: 15px;
        margin-bottom: 2px;
        position: relative;
        img {
            border-radius: 999px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    &__drop-list {
        position: absolute;
        top: 100%;
        width: 100%;
        background: $primary-color_light;
        padding: 5px;
        border-radius: 4px;
        .input-thumbnail__currency {
            margin-bottom: 5px;
            &:hover {
                background: gray;
            }
        }
    }
    &__valut-name {
        color: $contrast-primary-color;
        font-size: 10px;
    }
}
