.input-thumbnail {
    @include flex(space-between);
    background: $primary-color_light;
    padding: 8px;
    border-radius: 15px;
    color: $contrast-primary-color;

    input {
        color: $contrast-primary-color;
        background: $primary-color_light;
        width: 100%;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            /* display: none; <- Crashes Chrome on hover */
            -webkit-appearance: none;
            margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
        }

        &[type="number"] {
            -moz-appearance: textfield; /* Firefox */
        }
    }
    &_dark {
        background: #1d1d1d;
        input {
            background: #1d1d1d;
        }
    }
    &__slot {
        margin-right: 5px;
    }
    &__currency {
        @include flex($flex-direction: column);
    }

    &__flag {
        width: 15px;
        height: 15px;
        margin-bottom: 2px;
        position: relative;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &__valut-name {
        color: $contrast-primary-color;
        font-size: 10px;
    }
}
